@font-face {
  font-family: "Source Sans";
  src:
    url("../fonts/SourceSans3-Regular.woff2") format("woff2"),
    url("../fonts/SourceSans3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  src:
    url("../fonts/SourceSans3-Light.woff2") format("woff2"),
    url("../fonts/SourceSans3-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pangaia";
  src:
    url("../fonts/PPPangaia-Bold.woff2") format("woff2"),
    url("../fonts/PPPangaia-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pangaia";
  src:
    url("../fonts/PPPangaia-Medium.woff2") format("woff2"),
    url("../fonts/PPPangaia-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pangaia";
  src:
    url("../fonts/PPPangaia-Ultralight.woff2") format("woff2"),
    url("../fonts/PPPangaia-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Courier Prime";
  src:
    url("../fonts/CourierPrime-Bold.woff2") format("woff2"),
    url("../fonts/CourierPrime-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body.sk-body {
    @apply sk-font-sans;
  }

  .sk-body h1,
  .sk-body h2,
  .sk-body h3,
  .sk-body h4,
  .sk-body h5,
  .sk-body h6 {
    @apply sk-font-serif  sk-font-medium sk-text-primary-950 dark:sk-text-dark-text bg-primary-600:!sk-text-white;
  }

  .sk-body h1 {
    @apply sk-text-2xl sk-leading-relaxed md:sk-text-3xl lg:sk-text-5xl;
  }

  .sk-body h2 {
    @apply sk-text-xl sk-leading-relaxed md:sk-text-2xl lg:sk-text-4xl;
  }

  .sk-body h3 {
    @apply sk-text-lg sk-leading-relaxed md:sk-text-xl lg:sk-text-3xl;
  }

  .sk-body h4 {
    @apply sk-text-base sk-leading-relaxed md:sk-text-lg lg:sk-text-2xl;
  }

  .sk-body h5 {
    @apply sk-text-base sk-leading-relaxed md:sk-text-base lg:sk-text-xl;
  }

  .sk-body h6 {
    @apply sk-text-sm sk-leading-relaxed md:sk-text-base lg:sk-text-lg;
  }

  .sk-body section a:not(.sk-btn, .sk-about) {
    @apply sk-cursor-pointer sk-font-bold sk-text-primary-600 sk-underline;
  }

  pre {
    @apply sk-overflow-x-auto sk-overflow-y-hidden sk-rounded sk-bg-neutral-900 sk-px-2 sk-py-2 sk-leading-4 sk-text-gray-200 max-lg:sk-whitespace-normal dark:sk-bg-dark-elevated dark:sk-text-dark-text;
  }
}
