# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build files
mix-manifest.json
dev/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# WordPress
wp-config.php
wp-content/uploads/
*.log
track/script-usage.json
