@import "./components/typography.css";
@import "./components/buttons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

[x-cloak] {
    @apply sk-hidden;
}

.sk-body {
    @apply sk-bg-primary-50;
}

.sk-body .slide-enter {
    opacity: 0;
    transform: translateX(-20px);
}

.sk-body .slide-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.sk-body .slide-leave {
    opacity: 1;
    transform: translateX(0);
}

.sk-body .slide-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

/* Homepage styling */
.sk-container {
    @apply sk-mx-auto sk-max-w-screen-2xl sk-px-6 sk-py-6 md:sk-px-24 md:sk-py-32;
}
/* TODO: Fix variant
.sk-body * {
    @apply bg-primary-600:!sk-text-white bg-primary-600:sk-bg-blue-500;
} */
