@import "./components/typography.css";
@import "./components/buttons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  @apply sk-hidden;
}

.sk-body {
  @apply sk-bg-primary-50 dark:sk-bg-neutral-900;
}

.sk-body .slide-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.sk-body .slide-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.sk-body .slide-leave {
  opacity: 1;
  transform: translateX(0);
}

.sk-body .slide-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

/* Homepage styling */
.sk-container {
  @apply sk-mx-auto sk-max-w-screen-2xl sk-px-6 sk-py-6 md:sk-px-24 md:sk-py-32;
}

/* Header navigation styling */
header nav ul li {
  @apply sk-list-none;
}

header nav ul li a {
  @apply sk-no-underline sk-transition-all hover:sk-underline;
}

header nav ul li:last-child a {
  @apply sk-btn sk-btn-sm;
}

/* Add space for fixed header */
.site-main {
  @apply sk-m-4 sk-bg-primary-50 sk-pt-24 sk-text-neutral-900 dark:sk-bg-neutral-900 dark:sk-text-neutral-100;
}

/* Adjust header position when WordPress admin bar is visible */
.admin-bar header {
  @apply sk-top-[calc(0.5rem+32px)];
}

@media screen and (min-width: 783px) {
  .admin-bar header {
    @apply sk-top-[calc(0.5rem+32px)];
  }
}

/* TODO: Fix variant
.sk-body * {
    @apply bg-primary-600:!sk-text-white bg-primary-600:sk-bg-blue-500;
} */
